streamlit==1.45.1
pandas>=2.2,<3
numpy>=1.26,<2
scikit-learn==1.6.1
joblib>=1.4,<2
bcrypt>=4.1,<5
plotly>=5.22,<6
matplotlib>=3.8,<4
shap>=0.45,<1
reportlab>=4.2,<5
Pillow>=10,<12
openpyxl>=3.1,<4
streamlit-option-menu>=0.4,<1
streamlit-extras>=0.5,<1
pytest>=8.2,<9
